# Python cachev
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# IDE/editor files
.vscode/
.idea/

# OS specific
.DS_Store

# Config 
.env

# Logs
logs/
*.log

# Rate limiter storage
limiter_storage/