@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:wght@300..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* You can add your custom global styles below */

body {
  margin: 0;
  /* Apply custom font-family from Tailwind config */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Apply base background and text colors using custom palette */
  @apply bg-light-background text-light-text dark:bg-dark-background dark:text-dark-text transition-colors duration-300;
}

code {
  /* Apply custom monospace font-family from Tailwind config */
  font-family: 'Fira Code', monospace;
}
